* {
  text-align: center;
  background-color: #dcdcdc;
}

Button {
  margin-top: 20px;
  margin-bottom: 10px;
}

Form {
  width: max-content;
  margin: auto;
}

h3 {
  /* margin-top: 15px; */
  text-decoration: underline;
}

h4 {
  margin-top: 10px;
}

img {
  margin-bottom: 10px;
}

.carousel{
  margin-top: 0px;
}
.carousel-inner{
  height: 128px;
}
.carousel-caption{
  color: black;
  top: 50%;
}

.card {
  background-color: #808080;
}
