/* footer {
  position: absolute;
  bottom: 0;
}  */

/* .footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
} */

/* footer {
  color: black;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
} */

/* footer {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 50px;
  overflow-y: auto;
} */
